// @import "mixins.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Container fluid
.container-fluid {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

// Container fluid
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

// Row
.row {
    display: flex;
    flex-wrap: wrap;
}

// Regular columns
@for $i from 1 through 12 {
    $size: $i / 12 * 100%;
    .col-#{$i}{
        width: $size;
        flex: 0 0 #{$size};
        max-width: #{$size};
        box-sizing: border-box;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
}

// Small
@media (min-width: 576px) {
    @for $i from 1 through 12 {
        $size: $i / 12 * 100%;
        .col-sm-#{$i}{
            width: $size;
            flex: 0 0 #{$size};
            max-width: #{$size};
            box-sizing: border-box;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .container {
        max-width: 540px;
    }
}

// Medium
@media (min-width: 768px) {
    @for $i from 1 through 12 {
        $size: $i / 12 * 100%;
        .col-md-#{$i}{
            width: $size;
            flex: 0 0 #{$size};
            max-width: #{$size};
            box-sizing: border-box;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .container {
        max-width: 720px;
    }
}

// Large
@media (min-width: 992px) {
    @for $i from 1 through 12 {
        $size: $i / 12 * 100%;
        .col-lg-#{$i}{
            width: $size;
            flex: 0 0 #{$size};
            max-width: #{$size};
            box-sizing: border-box;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .container {
        max-width: 960px;
    }
}

// XL
@media (min-width: 1200px) {
    @for $i from 1 through 12 {
        $size: $i / 12 * 100%;
        .col-xl-#{$i}{
            width: $size;
            flex: 0 0 #{$size};
            max-width: #{$size};
            box-sizing: border-box;
            position: relative;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    .container {
        max-width: 1140px;
    }
}