.img-responsive {
    max-width: 100%;
    height: auto;
}

.img-thumbnail {
    border: solid $gray-600 1px;
    border-radius: 5%;
    padding: 2px;
}

.img-rounded {
    border-radius: 15%;
}

.img-circle {
    border-radius: 50%;
}

.img-blur {
    filter: blur(6px);
}