body {
    background: #dee2e6;
}

.text-center {
    text-align: center;
}

div {
    padding: 10px;
}

button {
    margin: 10px 0;
}

h4 {
    margin: 10px 0 45px 0;
}

h2 {
    padding: 20px;
    text-decoration: underline;
}

h3 {
    padding: 10px;
}